.header {
	width: 100%;
	border-image-repeat: revert;
	z-index: 3;
	background:
		linear-gradient(
			to left,
			rgba(1, 18, 24, 0.19),
			rgba(2, 52, 55, 0.27),
			rgba(4, 35, 49, 0.24)
		),
		url('../img/header/bggrid.png') center / 100% 100% no-repeat;

	// .header__top
	&__top {
		@include flex-align-center;
		gap: 4rem;
	}

	// .header__bottom
	&__bottom {
		position: sticky;
		top: 40;
		width: 100%;
		height: 4rem;
		margin: 0;
		text-align: center;
		white-space: nowrap;
		text-decoration: none;
		border-top: 1px solid $borderColor;
		border-bottom: 1px solid $borderColor;
		background: #0f1317;
		box-shadow: $boxShadow;
		filter: drop-shadow(0px -10px 10px rgba(1, 80, 116, 0.749));
	}
}

.top-menu {
	// .top-menu__image-logo
	&__image-logo {
		height: 4rem;
		width: 11.5rem;
		background: url('../img/header/earth_icon.png') left / cover no-repeat;
	}

	// .top-menu__top-nav
	&__top-nav {
		@include flex-align-center;
		letter-spacing: 0.2rem;
		// @extend .gradient;
	}

	//.top-menu__link
	&__link {
		font: {
			family: 'Blue Bubble', sans-serif;
			size: 2rem;
		}
		display: flex;
		align-items: baseline;
		text-transform: uppercase;
		color: rgb(186, 207, 207);
		text-shadow: 1px 1px 0px #00000062;
		@extend .grad_underline;
		.icon-arrow-3d {
			font-size: 18px;
			margin-left: 0.5rem;
			transition: all 0.5s ease-in-out;
		}
		&._opened-menu {
			.icon-arrow-3d {
				scale: -1;
				color: $orange;
			}
		}
		&:not(:last-child) {
			margin-right: 2.5rem;
		}
	}
}

.bottom-menu {
	position: sticky;
	top: 0;
	width: 100%;
	height: 4rem;
	margin: 0;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	background: $bgColor;
	box-shadow: $boxShadow;
	filter: drop-shadow(0px -10px 10px rgba(1, 80, 116, 0.749));
	z-index: 3;

	// .menu__container
	&__container {
		@include flex-align-center;
		gap: 4rem;
		width: 100%;
	}

	// .menu__slogan
	&__slogan {
		width: 11.5rem;
		height: 4rem;
		background: url('../img/header/logo.png') left / contain no-repeat;
		transform: translate(0, 10%);
	}
	//menu__items
	&__items {
		@include flex-align-center;
	}

	// .menu__list
	&__list {
		@extend .gradient;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	// .menu__list-item
	&__list-item {
		text-shadow: $orange 1px 0 10px;
	}

	// .menu__link
	&__link {
		font-family: $font-family-secondary, sans-serif;
		font-size: 1.6rem;
		font-weight: 400;
		color: $blue;
		text-transform: uppercase;
		@extend .grad_underline;
	}
}
