.header {
	position: sticky;
	top: 0;
	width: 0;
	min-width: 100%;
	border-image-repeat: revert;
	@extend .gradient-box;
	z-index: 9;

	// .header__container
	&__container {
		height: 4rem;
	}

	// .header__top-menu
	&__top-menu {
		height: 4rem;
		@include flex-align-center;
		@include _425 {
			justify-content: center;
		}
	}

	// .header__logo
	&__logo {
		width: 11.5rem;
		min-width: 4rem;
		margin-right: 2rem;

		@include _425 {
			margin-right: 0;
			width: 0;
			min-width: 0;
		}
	}

	// .header__image
	&__image {
		height: 4rem;
		background: url('../img/header/earth-icon.png') center / cover no-repeat;
		@include flex-align-center;

		@include _425 {
			background: none;
		}
	}

	// .header__top-nav
	&__top-nav {
		@include flex-align-center;
		letter-spacing: 0.2rem;
	}
}

.menu-items {
	//.menu-items__link
	&__link {
		cursor: pointer;
		font-family: $font-family-secondary;
		font-size: 1.6rem;
		font-weight: 400;
		color: $blue-light;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		text-shadow: 1px 1px 0px #00000062;
		@extend .grad_underline;

		@include _375 {
			font-size: 1.4rem;
		}

		.icon-angles-down-solid {
			font-size: 1.6rem;

			transition: all 0.5s ease-in-out;
			&::before {
				margin: 0 0.5rem;
			}
		}

		&._opened-menu {
			.icon-angles-down-solid {
				scale: -1;
				color: $orange;
			}
		}

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.top-navigation {
	position: sticky;
	margin-bottom: 1rem;
	top: 4rem;
	margin-left: 20.5rem;
	z-index: 2;
	width: 0;
	min-width: calc(100% - 20.5rem);
	height: 4rem;
	white-space: nowrap;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	box-shadow: $boxShadow;
	background: $background-menu;
	@include flex-align-center;
	@include _768 {
		margin-left: 4rem;
		min-width: calc(100% - 4rem);
	}
	// .top-navigation__scroller
	&__scroller {
		overflow-y: hidden;
		width: 100%;
		margin: 0 1.5rem;
		@include flex-justify-space-between;
	}

	// .top-navigation__menu
	&__menu {
		overflow-x: auto;
		margin-right: 1.5rem;
		@include flex-align-center;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	// .top-navigation__list
	&__list {
		&:not(:last-child) {
			margin-right: 2rem;
		}
		@extend .gradient-top-link;
	}

	// .top-navigation__link
	&__link {
		font-family: $font-family-secondary;
		font-size: 1.6rem;
		font-weight: 400;
		color: $blue-light;
		text-transform: uppercase;
		@extend .grad_underline;
		&:hover {
			background-size:
				0 1px,
				100% 1px;
		}
	}

	// .top-navigation__home
	&__home {
		border-left: 1px solid $border-color;
		//
		width: 4rem;
		height: 4rem;
		.icon-home {
			color: $blue-light;
			font-size: 2rem;
			transition: all 0.4s ease-in-out;
			&::before {
				padding-left: 1.7rem;
			}
			&:hover {
				color: $orange;
			}
		}
		@include flex-align-center;
	}
}
