.css-properties {
	// .css-properties__section
	&__section {
		margin-bottom: 0.5rem;
	}

	// .css-properties__section-title
	&__section-title {
		position: sticky;
		padding-left: 0.5rem;
		display: flex;
		top: 8rem;
		height: 3rem;
		line-height: 3rem;
		text-align: left;
		color: $blue-light;
		border-top: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
		background-color: $themes-color;
		align-items: center;
	}

	// .css-properties__section-block
	&__section-block {
		display: grid;
		grid-template-columns: minmax(105px, 25%) 1fr;
	}

	// .css-properties__property-name
	&__property-name {
		padding: 0.5rem;
		width: 100%;
		text-align: left;
		color: $second-color;
		font-weight: bold;
		border-bottom: 1px dotted #000;
		border-right: 1px dotted #000;
		letter-spacing: 1.2px;
		line-height: 120%; /* 24/16 */
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// .css-properties__description
	&__description {
		padding: 0.5rem;
		line-height: 120%; /* 24/16 */
		border-bottom: 1px dotted #000;
		letter-spacing: 0.8px;
	}
}
