.grad_underline {
	background: linear-gradient(to right, transparent, transparent),
		linear-gradient(to right, $orange, $blue);
	background-size:
		100% 1px,
		0 1px;
	background-position:
		100% 100%,
		0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;

	&:hover {
		background-size:
			0 1px,
			100% 1px;
	}
}

.gradient {
	background: linear-gradient(to bottom, #008192, #90effc, #008192 100%);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
