doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Краткое описание документа")
		meta(name="keywords" content="keywords-ключевые слова для поиска")
		block links
			mixin link(href)
				link(rel="stylesheet" type="text/css" href=href)
			mixin script(src)
				script(defer="defer" type="text/javascript" src=src)
		block scripts 
			script(src='/jquery.js')
		block vars
			- var text
		block title
			title #{text}

	body 
		div(class="wrapper")
			.background
				._lines
			block header
				include ../partials/header
			block page-content
				.page-content 
					._container
						block side-bar 
			block footer 
				include ../partials/footer

		
