include ../includes/mixins
include ../includes/variables.pug
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Краткое описание документа")
		meta(name="keywords" content="keywords-ключевые слова для поиска")
		link(rel="icon" type="image/icon" href="@@webRoot/img/icons/xfire.ico")
		link(rel="stylesheet" type="text/css" href="@@webRoot/css/style.min.css" )
		script(defer="defer" type="text/javascript" src="@@webRoot/js/app.min.js")
		script(defer="defer" type="text/javascript" src="@@webRoot/js/main.min.js")

		block title
		- var text
			title #{text}

	body  
		include ../partials/loading
		div(class="wrapper")
			block header
				include ../partials/header
			block top-navigation 
				include ../partials/top-navigation
			block page
				.page
					._grid-content
						._sidebar-menu-left
							block sidebar-menu 
								include ../partials/sidebar-left
						block main-content 


						//- 		ul.list  
						//- 			each item  in link
						//- 				.items 
						//- 					h3.item= item.name
						//- 					p.text= item.body
						//- 		ul.list  
						//- 			each item  in link
						//- 				.items 
						//- 					h3.item= item.name
						//- 					p.text= item.body
						//- 	//- block footer 
						//- 	//- 	include ../partials/footer
						//- 	//- 		aside._sidebar-right 

