extends ../layout/app_layout
append links 
	+link("./css/style.min.css")
	+link("./img/icons/xfire.ico")
	+script("./js/app.js")
	+script("./js/main.js")
block scripts 
append vars
	- var text="Shablon"
include ../includes/mixins
	- var text="Shablon"

	append header
	block page-content
		.page-content 
			._container
				block side-bar
					aside.nav-sidebar
						include ../partials/sidebar-left
	append footer 
			
