//- extends ../layout/app_layout
//- block title
//- 	- var text='Shablon'

//- block logo
//- 	+link('./index.html',' ')(class='header__logo')

//- block iconfont 
//- 	+iconfont('arrow-3d')

//- block navigation
//- 	include ../includes/variables.pug

//- 	each item in navigation
//- 		+list-item(
//- 			item.alink,
//- 			item.name,
//- 			'top-navigation__list',
//- 			'top-navigation__link'
//- 			)


//- block sidebar-menu
//- 	include ../partials/sidebar-left

//- block main-content

//- 	append footer 

