.page__left-side,
.sidebar-left {
	width: var(--sidebar-width);
	min-width: var(--sidebar-width);
	max-width: var(--mob-expanded-width);
}
.page {
	//.page__grid-content
	&__content {
		display: flex;
		width: 100%;
		min-height: 100%;
		// transition: all 0.4s ease 0s;
	}

	// .page__left-side
	&__left-side {
		--mob-collapsed-width: 4rem;
		--mob-expanded-width: 320px;
		--mob-hidden-width: calc(
			(var(--mob-expanded-width) - var(--mob-collapsed-width)) * -1
		);
		--stripe-width: 10px;
		--duration: 0.2s;
		position: relative;
		order: -1;
		z-index: 2;
		flex-shrink: 0;

		@include _768 {
			min-width: 0;
			width: var(--mob-collapsed-width);
			&_collapse {
				.sidebar-left {
					transform: translateX(var(--mob-hidden-width));
					overflow: hidden;
				}
				.burger-bottom {
					transform: translateX(0);
				}
			}
		}
	}
	// .page__main-content
	&__main-content {
		flex: 1;
		margin: 1.5rem;
		@include _320 {
			margin: 1.5rem 0.5rem;
		}
	}
}
