.page {
	// z-index: 1;
	display: flex;
	width: 100%;

	//.page__grid-content
	&__grid-content {
		grid-template-columns: 20.5rem 1fr;
		width: 100%;
		transition: all 0.4s ease 0s;

		@include _768 {
			grid-template-columns: 4rem 1fr;
		}
	}

	// .page__sidebar-menu-left
	&__sidebar-menu-left {
		// margin-right: 1rem;
	}

	// .page__main-content
	&__main-content {
		margin: 1.5rem;
		@include _320 {
			margin: 1.5rem 0.5rem;
		}
	}
}
// .background {
// 	position: fixed;
// 	margin: 0 2rem;
// 	height: 100%;
// 	width: 100%;
// 	min-width: 50%;
// 	background: url('../img/world-map.png') center center / contain no-repeat
// 		fixed;
// 	opacity: 0.1;
// 	z-index: 1;
// }
