header.header
	block header-content
		._container
			._top-menu
				._logo
					+link('@@webRoot/index.html','')(class='header__image tooltips' data-title='Home page')
				.menu-items._top-nav
					block menu-links
						+btn-link('button','Tutorials', 'menu-items__link')
							+iconfont('angles-down-solid')
						+btn-link('button','Exercises', 'menu-items__link')
							+iconfont('angles-down-solid')
						+btn-link('.button','Services', 'menu-items__link')
							+iconfont('angles-down-solid')

