//- nav.navigation
//- 	._content 
//- 		._scroller
//- 			ul._menu._scrolls
//- 				block navigation
//- 					each item in navigation
//- 						+list-item(
//- 							item.alink,
//- 							item.name,
//- 							'navigation__list',
//- 							'navigation__link'
//- 							)