.css-properties
	section._section
		._section-title - A -
		._section-block
			._property-name
				a(href="#") align-content:
			._description.
				Задает выравнивание между линиями внутри гибкого контейнера, если элементы не используют все доступное пространство
			._property-name
				a(href="#") align-self:
			._description.
				Задает выравнивание для выбранных элементов внутри гибкого контейнера
			._property-name
				a(href="#") align-self:
			._description.
				Задает выравнивание для выбранных элементов внутри гибкого контейнера
			._property-name
				a(href="#") all:
			._description.
				Сбрасывает все свойства (за исключением Unicode-двунаправленного письма и направления)
			._property-name
				a(href="#") animation:
			._description.
				Сокращенное свойство для всех свойств animation
			._property-name
				a(href="#") animation-delay:
			._description.
				Задает задержку запуска анимации
			._property-name
				a(href="#") animation-direction:
			._description.
				Указывает, должна ли анимация воспроизводиться вперед, назад или в других циклах
			._property-name
				a(href="#") animation-duration:
			._description.
				Определяет, сколько времени анимация должна занять для завершения одного цикла
			._property-name
				a(href="#") animation-fill-mode:
			._description.
				Задает стиль элемента, если анимация не воспроизводится (до он начнется, после его окончания, или как)
			._property-name
				a(href="#") animation-iteration-count:
			._description.
				Указывает, сколько раз анимация должна воспроизводиться
			._property-name
				a(href="#") animation-name:
			._description.
				Задает имя анимации @keyframes
			._property-name
				a(href="#") animation-play-state:
			._description.
				Указывает, запущена или приостановлена анимация
			._property-name
				a(href="#") animation-timing-function:
			._description.
				Задает кривую скорости анимации
	section._section
		._section-title - B -
		._section-block
			._property-name
				a(href="#") backface-visibility:
			._description.
				Определяет, должна ли быть видна задняя грань элемента при обращении к пользователю
			._property-name
				a(href="#") background:
			._description.
				Сокращенное свойство для задания всех свойств фона в одном объявлении
			._property-name
				a(href="#") background-attachment:
			._description.
				Определяет, прокручивается ли фоновое изображение с остальной частью страницы, или зафиксировано
			._property-name
				a(href="#") background-blend-mode:
			._description.
				Задает режим наложения для каждого слоя фона (цвет/изображение)
			._property-name
				a(href="#") background-clip:
			._description.
				Определяет, насколько фон (цвет или изображение) должен расширяться в элементе
			._property-name
				a(href="#") background-color:
			._description.
				Задает цвет фона элемента
			._property-name
				a(href="#") background-image:
			._description.
				Задание одного или нескольких фоновых изображений для элемента
			._property-name
				a(href="#") background-origin:
			._description.
				Задает исходную позицию фонового изображения
			._property-name
				a(href="#") background-position:
			._description.
				Определяет положение фонового изображения
			._property-name
				a(href="#") background-repeat:
			._description.
				Устанавливает, если/как фоновое изображение будет повторяться
			._property-name
				a(href="#") background-size:
			._description.
				Определяет размер фоновых изображений
			._property-name
				a(href="#") border:
			._description.
				Сокращенное свойство для ширины границы, стиля границы и цвета границы
			._property-name
				a(href="#") border-bottom:
			._description.
				Сокращенное свойство для задания всех свойств нижней границы в одном объявлении
			._property-name
				a(href="#") border-bottom-color:
			._description.
				Задает цвет нижней границы
			._property-name
				a(href="#") border-bottom-left-radius:
			._description.
				Определяет радиус границы нижнего левого угла
			._property-name
				a(href="#") border-bottom-right-radius:
			._description.
				Определяет радиус границы нижнего правого угла
			._property-name
				a(href="#") border-bottom-style:
			._description.
				Задает стиль нижней границы
			._property-name
				a(href="#") border-bottom-width:
			._description.
				Задает ширину нижней границы
			._property-name
				a(href="#") border-collapse:
			._description.
				Устанавливает, должны ли границы таблицы сворачиваться в одну границу или быть разделены
			._property-name
				a(href="#") border-color:
			._description.
				Задает цвет четырех границ
			._property-name
				a(href="#") border-image:
			._description.
				Сокращенное свойство для установки всех свойств Border-Image-*
			._property-name
				a(href="#") border-image-outset:
			._description.
				Определяет величину, на которую область изображения границы выходит за границы рамки
			._property-name
				a(href="#") border-image-repeat:
			._description.
				Указывает, должно ли изображение границы повторяться, округляться или растягиваться
			._property-name
				a(href="#") border-image-slice:
			._description.
				Определяет способ среза изображения границы
			._property-name
				a(href="#") border-image-source:
			._description.
				Указывает путь к изображению, которое будет использоваться в качестве границы
			._property-name
				a(href="#") border-image-width:
			._description.
				Задает ширину изображения границы
			._property-name
				a(href="#") border-left:
			._description.
				Сокращенное свойство для задания всех свойств левой границы в одном объявлении
			._property-name
				a(href="#") border-left-color:
			._description.
				Задает цвет левой границы
			._property-name
				a(href="#") border-left-style:
			._description.
				Задает стиль левой границы
			._property-name
				a(href="#") border-left-width:
			._description.
				Задает ширину левой границы
			._property-name
				a(href="#") border-radius:
			._description.
				Сокращенное свойство для установки всех четырех границ-*-свойства RADIUS
			._property-name
				a(href="#") border-right:
			._description.
				Сокращенное свойство для задания всех свойств правой границы в одном объявлении
			._property-name
				a(href="#") border-right-color:
			._description.
				Задает цвет правой границы
			._property-name
				a(href="#") border-right-style:
			._description.
				Задает стиль правой границы
			._property-name
				a(href="#") border-right-width:
			._description.
				Задает ширину правой границы
			._property-name
				a(href="#") border-spacing:
			._description.
				Устанавливает расстояние между границами соседних ячеек
			._property-name
				a(href="#") border-style:
			._description.
				Задает стиль четырех границ
			._property-name
				a(href="#") border-top:
			._description.
				Сокращенное свойство для задания всех свойств верхнего края в одном объявлении
			._property-name
				a(href="#") border-top-color:
			._description.
				Задает цвет верхней границы
			._property-name
				a(href="#") border-top-left-radius:
			._description.
				Определяет радиус границы верхнего левого угла
			._property-name
				a(href="#") border-top-right-radius:
			._description.
				Определяет радиус границы верхнего правого угла
			._property-name
				a(href="#") border-top-style:
			._description.
				Задает стиль верхней границы
			._property-name
				a(href="#") border-top-width:
			._description.
				Задает ширину верхней границы
			._property-name
				a(href="#") border-width:
			._description.
				Задает ширину четырех границ
			._property-name
				a(href="#") bottom:
			._description.
				Устанавливает положение элементов в нижней части родительского элемента
			._property-name
				a(href="#") box-decoration-break:
			._description.
				Задает поведение фона и границы элемента при разрыве страницы или, для линейных элементов, при разрыве строки.
			._property-name
				a(href="#") box-shadow:
			._description.
				Прикрепление одной или нескольких теней к элементу
			._property-name
				a(href="#") box-sizing:
			._description.
				Определяет, как вычисляется ширина и высота элемента: должны ли они включать отступы и границы, или нет
			._property-name
				a(href="#") break-after:
			._description.
				Задает поведение разрыва страницы, столбца или региона после созданного поля
			._property-name
				a(href="#") break-before:
			._description.
				Задает поведение разрыва страницы, столбца или региона перед созданным полем
			._property-name
				a(href="#") break-inside:
			._description.
				Определяет поведение разрыва страницы, столбца или региона в созданном поле
	section._section
		._section-title - C -
		._section-block
			._property-name
				a(href="#") caption-side:
			._description.
				Задает размещение заголовка таблицы
			._property-name
				a(href="#") caret-color:
			._description.
				Определяет цвет курсора (стрелка), текстового ввода или любого редактируемого элемента
			._property-name
				a(href="#") @charset:
			._description.
				Задает кодировку символов, используемую в таблице стилей
			._property-name
				a(href="#") clear:
			._description.
				Указывает, на каких сторонах элемента плавающие элементы не могут плавать
			._property-name
				a(href="#") clip:
			._description.
				Зажимы абсолютно позиционированного элемента
			._property-name
				a(href="#") color:
			._description.
				Задает цвет текста
			._property-name
				a(href="#") column-count:
			._description.
				Указывает количество столбцов, элемент должен быть разделен на
			._property-name
				a(href="#") column-fill:
			._description.
				Указывает, как заполнять столбцы, сбалансированные или нет
			._property-name
				a(href="#") column-gap:
			._description.
				Указывает зазор между столбцами
			._property-name
				a(href="#") column-rule:
			._description.
				Сокращенное свойство для установки всех свойств столбца-Rule-*
			._property-name
				a(href="#") column-rule-color:
			._description.
				Задает цвет правила между столбцами
			._property-name
				a(href="#") column-rule-style:
			._description.
				Задает стиль правила между столбцами
			._property-name
				a(href="#") column-rule-style:
			._description.
				Задает стиль правила между столбцами
			._property-name
				a(href="#") column-rule-width:
			._description.
				Задает ширину правила между столбцами
			._property-name
				a(href="#") column-span:
			._description.
				Указывает, сколько столбцов элемент должен охватывать поперек
			._property-name
				a(href="#") column-width:
			._description.
				Задает ширину столбца
			._property-name
				a(href="#") columns:
			._description.
				Сокращенное свойство для задания ширины столбца и счетчика столбцов
			._property-name
				a(href="#") content:
			._description.
				Используется с: before и: After псевдо-элементы, чтобы вставить сгенерированное содержимое
			._property-name
				a(href="#") counter-increment:
			._description.
				Увеличивает или уменьшает значение одного или нескольких счетчиков CSS
			._property-name
				a(href="#") counter-reset:
			._description.
				Создает или сбрасывает один, или несколько счетчиков CSS
			._property-name
				a(href="#") cursor:
			._description.
				Указывает курсор мыши, отображаемый при наведении на элемент
	section._section
		._section-title - D -
		._section-block
			._property-name
				a(href="#") direction:
			._description.
				Задает направление текста/направление письма
			._property-name
				a(href="#") display:
			._description.
				Указывает, как должен отображаться определенный элемент HTML
	section._section
		._section-title - E -
		._section-block
			._property-name
				a(href="#") empty-cells:
			._description.
				Указывает, отображать ли границы и фон на пустых ячейках таблицы
	section._section
		._section-title - F -
		._section-block
			._property-name
				a(href="filter.html") filter:
			._description.
				Определяет эффекты (например, размытие или сдвиг цвета) на элементе перед отображением элемента
			._property-name
				a(href="flex.html") flex:
			._description.
				Сокращенное свойство для Flex-расти, Flex-сжатия и Flex-основы свойства
			._property-name
				a(href="flex-basis.html") flex-basis:
			._description.
				Задает начальную длину гибкого элемента
			._property-name
				a(href="flex-direction.html") flex-direction:
			._description.
				Указывает направление гибких элементов
			._property-name
				a(href="flex-flow.html") flex-flow:
			._description.
				Сокращенное свойство для свойств Flex-Direction и Flex-Wrap
			._property-name
				a(href="flex-grow.html") flex-grow:
			._description.
				Указывает, сколько будет расти номенклатура относительно остальных
			._property-name
				a(href="flex-shrink.html") flex-shrink:
			._description.
				Указывает, как элемент будет сжиматься относительно остальных
			._property-name
				a(href="flex-wrap.html") flex-wrap:
			._description.
				Указывает, следует ли обернуть гибкие элементы
			._property-name
				a(href="float.html") float:
			._description.
				Указывает, должно ли поле плавать
			._property-name
				a(href="font.html") font:
			._description.
				Задает все свойства шрифта в одном объявлении
			._property-name
				a(href="font-face.html") @font-face:
			._description.
				Правило, позволяющее веб-сайтам загружать и использовать шрифты, не являющиеся "web-safe" шрифтами
			._property-name
				a(href="font-family.html") font-family:
			._description.
				Задает семейство шрифтов для текста
			._property-name
				a(href="font-feature-settings.html") font-feature-settings:
			._description.
				Позволяет контролировать расширенные типографские функции шрифтов OpenType
			._property-name
				a(href="@ont-feature-values.html") @font-feature-values:
			._description.
				Позволяет авторам использовать общее имя в шрифт-вариант-альтернативный для функции, активированной по-разному в OpenType
			._property-name
				a(href="font-kerning.html") font-kerning:
			._description.
				Управляет использованием информации о кернинге (как буквы расположены в пространстве)
			._property-name
				a(href="font-language-override.html") font-language-override:
			._description.
				Управляет использованием глифов, специфичных для языка, в шрифте
			._property-name
				a(href="font-size.html") font-size:
			._description.
				Задает размер шрифта текста
			._property-name
				a(href="font-size-adjust.html") font-size-adjust:
			._description.
				Сохраняет читаемость текста, когда происходит откат шрифта
			._property-name
				a(href="font-stretch.html") font-stretch:
			._description.
				Выбор нормальной, сжатой или расширенной грани из семейства шрифтов
			._property-name
				a(href="font-style.html") font-style:
			._description.
				Задает стиль шрифта для текста
			._property-name
				a(href="font-synthesis.html") font-synthesis:
			._description.
				Элементы управления, отсутствующие шрифты (полужирный или курсив) могут быть синтезированы обозревателем
			._property-name
				a(href="font-variant.html") font-variant:
			._description.
				Указывает, должен ли текст отображаться в шрифте с малыми прописными буквами
			._property-name
				a(href="font-variant-alternates.html") font-variant-alternates:
			._description.
				Управляет использованием альтернативных глифов, связанных с альтернативными именами, определенными в @font-функция-значения
			._property-name
				a(href="font-variant-caps.html") font-variant-caps:
			._description.
				Управление использованием альтернативных глифов для заглавных букв
			._property-name
				a(href="font-variant-east-asian.html") font-variant-east-asian:
			._description.
				Управляет использованием альтернативных глифов для восточно-азиатских скриптов (например, японского и китайского)
			._property-name
				a(href="font-variant-ligatures.html") font-variant-ligatures:
			._description.
				Определяет, какие лигатуры и контекстные формы используются в текстовом содержимом элементов, к которым он относится
			._property-name
				a(href="font-variant-numeric.html") font-variant-numeric:
			._description.
				Управляет использованием альтернативных глифов для чисел, дробей и порядковых маркеров
			._property-name
				a(href="font-variant-position.html") font-variant-position:
			._description.
				Управляет использованием альтернативных глифов меньшего размера, которые расположены в виде наложения или подстрочных символов относительно базовой линии шрифта
			._property-name
				a(href="font-weight.html") font-weight:
			._description.
				Определяет вес шрифта
	section._section
		._section-title - G -
		._section-block
			._property-name
				a(href="grid.html") grid:
			._description.
				Сокращенное свойство
			._property-name
				a(href="grid-area.html") grid-area:
			._description.
				Либо задает имя элемента сетки, либо это свойство является сокращенным свойством для свойств сетка- начало строки, Сетка-столбец-начало, Сетка-конец строкии Сетка-конец столбца
			._property-name
				a(href="grid-auto-columns.html") grid-auto-columns:
			._description.
				Задает размер столбца по умолчанию
			._property-name
				a(href="grid-auto-flow.html") grid-auto-flow:
			._description.
				Указывает, как автоматически размещаемые элементы вставляются в сетку
			._property-name
				a(href="grid-auto-rows.html") grid-auto-rows:
			._description.
				Задает размер строки по умолчанию
			._property-name
				a(href="grid-column.html") grid-column:
			._description.
				Сокращенное свойство для свойств Сетка-столбец-начало и Сетка-конец столбца
			._property-name
				a(href="grid-column-end.html") grid-column-end:
			._description.
				Указывает, где закончить элемент сетки
			._property-name
				a(href="grid-column-gap.html") grid-column-gap:
			._description.
				Определяет размер зазора между столбцами
			._property-name
				a(href="grid-column-start.html") grid-column-start:
			._description.
				Указывает, где начать элемент сетки
			._property-name
				a(href="grid-gap.html") grid-gap:
			._description.
				Сокращенное свойство для свойств Сетка-строка-зазор и Сетка-столбец-зазор
			._property-name
				a(href="grid-row.html") grid-row:
			._description.
				Сокращенное свойство для свойств Сетка-строка-начало и Сетка-конец строки
			._property-name
				a(href="grid-row-end.html") grid-row-end:
			._description.
				Указывает, где закончить элемент сетки
			._property-name
				a(href="grid-row-gap.html") grid-row-gap:
			._description.
				Определяет размер зазора между строками
			._property-name
				a(href="grid-row-start.html") grid-row-start:
			._description.
				Указывает, где начать элемент сетки
			._property-name
				a(href="grid-template.html") grid-template:
			._description.
				Сокращенное свойство для свойств Сетка-шаблон-строки, сетка -шаблон-столбцы и области сетки
			._property-name
				a(href="grid-template-areas.html") grid-template-areas:
			._description.
				Указывает, как отображать столбцы и строки с использованием именованных элементов сетки
			._property-name
				a(href="grid-template-columns.html") grid-template-columns:
			._description.
				Определяет размер столбцов и количество столбцов в макете сетки
			._property-name
				a(href="grid-template-rows.html") grid-template-rows:
			._description.
				Определяет размер строк в макете сетки
	section._section
		._section-title - H -
		._section-block
			._property-name
				a(href="hanging-punctuation.html") hanging-punctuation:
			._description.
				Указывает, может ли знак пунктуации размещаться вне поля строки
			._property-name
				a(href="height.html") height:
			._description.
				Задает высоту элемента
			._property-name
				a(href="hyphens.html") hyphens:
			._description.
				Задание разбиения слов для улучшения макета абзацев
	section._section
		._section-title - I -
		._section-block
			._property-name
				a(href="image-rendering.html") image-rendering:
			._description.
				Дает подсказку браузеру о том, какие аспекты изображения наиболее важны для сохранения при масштабировании изображения
			._property-name
				a(href="import.html") @import:
			._description.
				Позволяет импортировать таблицу стилей в другую таблицу стилей
			._property-name
				a(href="isolation.html") isolation:
			._description.
				Определяет, должен ли элемент создавать новое содержимое стека
	section._section
		._section-title - J -
		._section-block
			._property-name
				a(href="justify-content.html") justify-content:
			._description.
				Задает выравнивание между элементами внутри гибкого контейнера, если элементы не используют все доступное пространство
	section._section
		._section-title - K -
		._section-block
			._property-name
				a(href="keyframes.html") @keyframes:
			._description.
				Задает
	section._section
		._section-title - L -
		._section-block
			._property-name
				a(href="keyframes.html") @keyframes:
			._description.
				Задает





