.sidebar-left
	button._text.triggerBtn(type='button') 
		+iconfont('point-right') 
		span Side - Bar - Menu
		+iconfont('point-right') 
	._title 
		span Свойствa CSS
		.burger-bottom.triggerBtn
			._items
				svg(viewBox="10 6 44 36")
					path(d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37")
					path(d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24")
					path(d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37")
	._body
		._menu
			ul._list
				li._list-item 
					a._link(href="@@webRoot/css-reference/css_reference.html") CSS Reference
				li._list-item  
					a._link(href="") CSS Selector
				li._list-item  
					a._link(href="") CSS Functions
				li._list-item  
					a._link(href="")
				li._list-item  
					a._link(href="")
				li._list-item  
					a._link(href="")
				li._list-item  
					a._link(href="")
				li._list-item  
					a._link(href="")
				li._list-item  
					a._link(href="")
