aside.nav-sidebar
	nav._menu
		._title CSS Reference
		a._link(href="") CSS Reference
		a._link(href="") CSS Selector
		a._link(href="") CSS Functions
		a._link(href="")
		a._link(href="")
		a._link(href="")
		a._link(href="")
		a._link(href="")
		a._link(href="")

	._text Side - Bar - Menu