header.header
	._top._container
		a(href="")._image-logo
		._slogan
		._top-nav
			a._link(href="") Tutorials
			a._link(href="#") Exercises
			a._link(href="#") Services
	nav.menu._bottom
		ul._list
			li._list-item 
				a._link(href="") Html
		ul._list
			li._list-item 
				a._link(href="") Css/Scss
		ul._list
			li._list-item 
				a._link(href="") Sass
		ul._list
			li._list-item 
				a._link(href="") JavaScript
		ul._list
			li._list-item 
				a._link(href="") Php
		ul._list
			li._list-item 
				a._link(href="") Git
		ul._list
			li._list-item 
				a._link(href="") How to